[mysqld]

# Remove ONLY_FULL_GROUP_BY to keep dev db in line with production db
sql_mode    =    STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
collation_server = utf8mb4_unicode_ci
collation_connection = utf8mb4_unicode_ci
